<div class="navbar">
  <a routerLink='/home'>Home</a>
  <div class="subnav">
    <button class="subnavbtn">About <i class="fa fa-caret-down"></i></button>
    <div class="subnav-content">
      <a routerLink='/about/company'>Company</a>
      <a routerLink='/about/team'>Team</a>
      <a routerLink='/about/career'>Careers</a>
    </div>
  </div> 
  <div class="subnav">
    <button class="subnavbtn">Services <i class="fa fa-caret-down"></i></button>
    <div class="subnav-content">
      <a href="#bring">Vacation</a>
      <a href="#deliver">Training</a>
      <a href="#package">PMO Survey</a>
      <a href="#express">HR Servives</a>
    </div>
  </div> 
  <div class="subnav">
    <button class="subnavbtn">Partners <i class="fa fa-caret-down"></i></button>
    <div class="subnav-content">
      <a href="#link1">Link 1</a>
      <a href="#link2">Link 2</a>
      <a href="#link3">Link 3</a>
      <a href="#link4">Link 4</a>
    </div>
  </div>
  <a routerLink='/contact'>Contact</a>
</div>
<div>
<router-outlet></router-outlet>
</div>

