<div class="navbar">
  <a routerLink='/home'>Home</a>
  <div class="subnav">
    <button class="subnavbtn">About<i class="fa fa-caret-down"></i></button>
    <div class="subnav-content">
      <a routerLink='/about/company'>Company</a>
      <a  routerLink='/about/team'>Team</a>
      <a  routerLink='/about/career'>Careers</a>
    </div>
  </div> 
  <div class="subnav">
    <button class="subnavbtn">Services <i class="fa fa-caret-down"></i></button>
    <div class="subnav-content">
      <a href="#bring">Vacation</a>
      <a href="#deliver">Training</a>
      <a href="#package">PMO Survey</a>
      <a href="#express">HR Servives</a>
    </div>
  </div> 
  <a routerLink='/skill'>skill</a>
  <a routerLink='/contact'>Contact</a>
  <a routerLink='/student'>Student</a>
</div>
<div>
<router-outlet></router-outlet>
</div>

